.App {
  text-align: center;
}

.btn{
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: white;
  border: solid 2px #ccc;
  cursor: pointer;
}

.btn:hover{
  background-color: #efefef;
}

.input{
  padding: 10px;
  border-radius: 5px;
  min-width: 400px;
  box-sizing: border-box;
  border: solid 1px #222;
  outline: none;
}

.searchBarContainer{
  position: relative;
  width: 400px;
  margin: 0 auto;
}

.centerSpan{
  background-color: yellow;
  font-weight: bolder;
  border-radius: 2px;
}

.list{
  color: black;
  display: block;
  padding: 10px;
  text-decoration: none;
}

.list:hover{
  background-color: #4c91ba;
  color: white;
}

